.container {
    margin-top: 200px;
}

canvas {
    background-color: white;
    margin-right:15px;
}
#picked-color{
    cursor: pointer;
}
.draw-pad {
    border-radius: 15px;

}
label{
    background-color: gray;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-family: Arial, sans-serif;
    letter-spacing: 1px;
}
.button-group button {
    width: 48px;
    height: 48px;
    margin: 5px;
    transition: 0.3s ease;
}

.button-group button:hover {
    border: 3px solid blue;
}

.button-group button:focus {
    border: 3px solid blue;
}

input[type="color"] {
    border: none;
    width: 152px;
    height: 152px;
    margin: 10px;
}

#input-text {
    outline: none;
    position: absolute;
    border-style: dashed;
}

.right-part {
    overflow: hidden;
    width: 500px;
    height: 500px;
    padding: 5px;
    background: -webkit-linear-gradient(90deg, yellow, red);
    background: -o-linear-gradient(90deg, yellow, red);
    background: -moz-linear-gradient(90deg, yellow, red);
    background: linear-gradient(90deg, yellow, red);
    border-radius: 5px;
}

.mdl {
    margin: 15px;
}

body {
    background: url("https://source.unsplash.com/twukN12EN7c/1920x1080'") no-repeat;
    background-size: cover;
}


input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin-bottom: 15px;
    background: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 15.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: rgba(255, 140, 25, 0.84);
    border-radius: 13.5px;
    border: 1.3px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    background: #ffff00;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8.6px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgba(255, 140, 25, 0.84);
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 15.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: rgba(255, 140, 25, 0.84);
    border-radius: 13.5px;
    border: 1.3px solid #010101;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    background: #ffff00;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 15.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: rgba(255, 140, 25, 0.84);
    border: 1.3px solid #010101;
    border-radius: 27px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
    background: rgba(255, 140, 25, 0.84);
    border: 1.3px solid #010101;
    border-radius: 27px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    background: #ffff00;
    cursor: pointer;
    height: 15.4px;
}

input[type=range]:focus::-ms-fill-lower {
    background: rgba(255, 140, 25, 0.84);
}

input[type=range]:focus::-ms-fill-upper {
    background: rgba(255, 140, 25, 0.84);
}
#text-field{

    width: 700px;
    height: 70px;
    background-color: black;
    border: 5px solid;
}